body {
    background: linear-gradient(to right, #4A55A2, #7895CB);
  }
  .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    animation: slide-in 0.5s ease;
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }